html {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;  
}
header {
  position: fixed;
  width: 100%;
}
main {
  padding-top: 90px;
  
}
.menu-wrapper {
  max-width: 1600px;
  width: 100%;
  margin: auto;
}
.top-menu {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
    
  background: rgb(250, 250, 250);
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.541);
  padding: 1rem;
}

.navbar-logo img{
  height: 80px;
}
.menu-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem;
  list-style: none;
}

.menu-main a {
  text-decoration: none;
  margin: 1rem;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: bold;
  color: #2a8307;
  transition-duration: 0.4s;
}

.menu-main a:hover {
  background-color: #036437; 
  color: white;
  border-radius: 5px;
}
main {
  font-size: 1.5rem;
}
table {
  width: 100%;
  background-color: rgba(34, 33, 33, 0.116);
  font-size: 1.5rem;
  border: 1px solid grey;
}
th {
  border: 1px solid grey;
  font-size: 2rem;
}
td {
  border: 1px solid grey;
}

.list img {
  height: 50px;
}
.table-title {
  background-color: rgba(34, 33, 33, 0.973);
  color: #f6f8f7;
  font-size: 3rem;
}

.table-name {
  width: 40%;
}
.table-units {
  width: 5%;
}
.table-kol {
  width: 5%;
}
.table-price {
  width: 10%;
}
.table-img {
  width: 5%
}
.table-performer {
  width: 20%
}
.mp3-performer {
  width: 20%;
}
.mp3-name {
  width: 30%;
}
.mp3-label {
  width: 20%;
}
.mp3-note {
  width: 15%;
}
.vinyl-name {
  width: 40%;
}
.empty {
  height: 95px;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  margin-top: 1rem;
}
@media (max-width: 960px) {
.top-menu {
  justify-content: space-between;
}
.menu-main a {
  font-size: 1.5rem;
}
}

@media (max-width: 750px) {
  .navbar-logo {
    display: none;
  }
}

@media (max-width: 420px) {
header {
  position: relative;
  top: 0;
}
.empty {
  height: 0px;
}
.top-menu {
  height: 300px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.menu-wrapper {
  width: 375px;
}
.menu-main {
  height: 300px;
  flex-direction: column;
}
.menu-main li {
  padding: 10px;
}
.menu-main a {
  font-size: 2rem;
}
.table-title {
  font-size: 2rem;
}
th {
  font-size: 1rem;
}
td {
  font-size: 1rem;
}
.mp3-performer {
  width: 30%;
}
.mp3-name {
  width: 30%;
}
.mp3-label {
  width: 15%;
}
.table-img {
  width: 15%;
}
.mp3-note {
  display: none;
}
footer {
  font-size: 1rem;
}
}

.sold {
  display: none;
}